#sup {
    color: #D4AF37;
    font-size: xx-large;
    left: 50%;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    vertical-align: middle;
}
